<app-menu></app-menu>

<div class="container">
    <div class="row">
        <div class="col">
            <select (change)="search($event)" class="form-select">
                <option value="">Seleccione una plataforma</option>
                <option value="shooter">Shooter</option>
                <option value="MMORPG">MMORPG</option>
                <option value="MOBA">MOBA</option>
                <option value="Strategy">Strategy</option>
                <option value="Fighting">Fighting</option>
                <option value="Battle-Royale">Battle Royale</option>
              </select>
            <br>
        </div>
        <div class="col">
            <select class="form-select">
                <option *ngFor="let game of categoria" [value]="game.id">{{ game.title }}</option>
              </select>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Poder</th>
                </tr>
            </thead>
        
            <tbody>
                <tr *ngFor = "let datos of categoria">
                    <td> {{datos.id}}</td>
                    <td> {{datos.title}}</td>
                    <td><img src="{{datos.thumbnail}}" class="img-fluid"></td>
                    <td> {{datos.genre}}</td>
                </tr>
        
            </tbody>
        </table>
    </div>
</div>



